<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Ввод</title>
        <style></style>
    </head>
    <header></header>
    <body>
        <p>Вводите функцию зависимости f(x) от x</p>
        <form method="POST" id="send">
            <table class="inputTable">
                <thead>Ввод данных функции</thead>
                <tbody>
                    <th></th>
                    <th><label>Формула</label></th>
                    <th><label>Граница A</label></th>
                    <th><label>Граница B</label></th>
                    <tr>
                        <td>Ввод</td>
                        <td><input type="text" name="formula" required /></td>
                        <td><input type="number" step="0.00001" id="borderA" name="borderA" pattern="[0-9]{0,}" required /></td>
                        <td><input type="number" step="0.00001" id="borderB" name="borderB" pattern="[0-9]{0,}" required /></td>
                    </tr>
                    <tr>
                        <td>Количество</td>
                        <td><input value = "1" type="number" step="1" id="trapnum" name="trapzoids" pattern="[0-9]{0,}" required /></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr><button type="submit" onclick="checkTraps()">Отправить</button></tr>
                <tr><input type="button" onclick="location.href='/';" value="Вернуться" /></tr>
            </table>
        </form>
    </body>
    <footer></footer>
    <script>
        function checkTraps()
        {
            if(document.getElementById("borderA").value == document.getElementById("borderB").value){
				alert('Некорректный ввод границ: введите разные числа');
			}
            if(document.getElementById("trapnum").value<1){
				alert('Некорректный ввод числа трапеций: введите натуральное число');
			}else{
                document.getElementById("send").submit();
            }
        }
    </script>
</html>