<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Создание</title>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
    <body>
        <form method="POST">
            <table class="inputTable">
                <thead>Ввести данные функции</thead>
                <tbody>
                    <th></th>
                    <th><label>Формула</label></th>
                    <th><label>Аргумент X</label></th>
                    <tr>
                        <td>Ввод</td>
                        <td><input type="text" name="formula" required /></td>
                        <td><input type="number" step="0.0001" name="arguement" pattern="[0-9]{0,}" required /></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr><button type="submit">Отправить</button></tr>
                <!-- <tr><input type="button" onclick="location.href='/output';" value="Отправить" /></tr> -->
                <tr><input type="button" onclick="location.href='/';" value="Вернуться" /></tr>
            </table>
        </form>
    </body>
</html>